<%- include('partials/header'); -%>
    <form>
        <h2>Log In</h2>
        <label for="username">Email</label>
        <input type="text" name="email" required/>
        <div class="email error"></div>

        <label for="password">Password</label>
        <input type="password" name="password" required/>
        <div class="password error"></div>
        <button>Log In</button>
    </form>

    <script>
        const form = document.querySelector('form')
        // console.log(form)

        form.addEventListener('submit', async (e) => {
            e.preventDefault()

            const email = form.email.value
            const password = form.password.value
            const emailError = document.querySelector('.email.error')
            const PassError = document.querySelector('.password.error')

            console.log(email, password)
            try{
                const response = await fetch('/login',{
                    method:"POST",
                    data:JSON.stringify({email,password}),
                    headers:{'Content-Type':'application/json'}
                })

                const data = await response.json()

                if(data.errors){
                    emailError.textContent = data.errors.email
                    PassError.textContent = data.errors.password
                }

                if(data.user){
                    location.assign('/')
                }
            }catch(error){
                console.log(error)
            }
        })

        
    </script>
    <%- include('partials/footer'); -%>