<%- include('partials/header'); -%>
<form>
        <h2>Login</h2>
        <label for="username">Username</label>
        <input type="text" name="username"/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <button>Sign up</button>
    </form>
<%- include('partials/footer'); -%>